VITE_CLIENT_ID = "your client id"  #thirdweb project's client id. get one from https://thirdweb.com/dashboard/ #mumbai
VITE_SECRET_KEY = "your client secret"  #thirdweb's project client secret. get one from https://thirdweb.com/dashboard/ #mumbai